 
    {% extends "layout.html" %}
   
    {% block heading %}
        <h2>--Submit Data--</h2>
    {% endblock %}

    {% block body %}
        <div>
            <form action="{{ url_for('hello') }}" method="post">
                <label for="username">Enter username : </label><br>
                <input type="text" name="username" class=""><br>
                <label for="email">Enter email : </label><br>
                <input type="email" name="email" class=""><br>
                <label for="password">Enter password : </label><br>
                <input type="password" name="password" class=""><br>
                <br>
                <input type="submit" value="submit">
            </form>
        </div>
    {% endblock %}
