{% extends "layout.html" %}

{% block heading %}
    <h1> Submitted data </h1>
{% endblock %}

{% block body %}
    
    <ul>
    {% for x in l_data %}
        <li>{{ x }}</li>
    {% endfor %}
    </ul>

    <!--<h2 color="red" >Enter all input</h2>-->
    <a href="{{ url_for('index') }}">Go back to registration</a>
{% endblock %}