 
    {% extends "layout.html" %}
   
    {% block heading %}
        <h2 color="green">--NOTE--</h2>
    {% endblock %}

    {% block body %}
        <ol>
            {% for note in notes %}
                <li>{{ note }}</li>
            {% endfor %}
        </ol>

        <div>
            <form action="{{ url_for('index') }}" method="post">
                <br><input type="text" name="note" placeholder="Enter your notes..">
                <label for="notes">  notes</label><br>
                <br>
                <button>Add</button>
            </form>
        </div>
    {% endblock %}
