<!--
    how really works form in flask. it`s really interested so let's take a little tour
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
</head>
<body>
    <h1>Welcome To My Application</h1>

    {% block heading %}{% endblock %}
    {% block body %}{% endblock %}

</body>
</html>