<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
</head>
<body>
    <h1>Welcome</h1>

    <p>
       <h2> this is first page of my website and i hope you are enjoing on my website </h2>
    </p>

    <a href="{{ url_for('second') }}">More content..</a>
</body>
</html>