<!--
    this is template layout to create master page of website use to make easier for programmer
    to create master changable template 
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
</head>
<body>
    <h1>Welcome</h1>

    <h2>
        {% block heading %} {% endblock %}  <!-- this is syntax of jinja2 langauge to define variable section -->
    </h2>
    
    {% block body %} {% endblock %}

</body>
</html>