<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
</head>
<body>
    <h1>Welcome</h1>

    <p>
       <h2> this is Second page of my website and thanx for reading my web content </h2>
    </p>

    <a href="{{ url_for('index') }}">Go back..</a>
</body>
</html>